body {
    background-color: #FFFFFF;
    color: #00274C;
    margin: 1ex;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    display: inline-block;
    border: 3px solid #00274C;
    margin: 10px;
    padding: 5px
}

.navigation_item{
    background-color: #FFCB05;
    border: 1px solid #00274C;
    margin: 0.5vw;
}

.navigation_item:hover {
    background-color: #00274C;
    color: #FFCB05;
}

.navigation_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.current_nav{
    background-color: #00274C;
    color: #FFCB05;
}

h1 {
    color: #00274C;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

h2, h3 {
    color: #00274C;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color: #FFCB05;
    font-weight: bold;
}

h2 {
    font-size: larger;
}

h3 {
    font-size: large;
}

ul {
    list-style-type: none;
    margin-left: 30px;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #00274C;
    margin: 20px;
    padding: 10px
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: justify;
    line-height: 1.5;
}