body {
    background-color: #FFFFFF;
    color: #00274C;
    margin: 1ex;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    display: inline-block;
    border: 3px solid #00274C;
    margin: 10px;
    padding: 5px
}

.logobar {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0;
}

.navigation_item{
    background-color: #FFCB05;
    border: 1px solid #00274C;
    margin: 0.4vw;
}

.navigation_item:hover {
    background-color: #00274C;
    color: #FFCB05;
}

.navigation_item a {
    font-size: 1.1em;
    text-decoration: none;
    padding: 0.1rem;
    display: block;
}

.navigation_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.current_nav{
    background-color: #00274C;
    color: #FFCB05;
}

h1 {
    color: #00274C;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    flex: 1;
    margin: 0;
    font-size: 1.7em;
}

h2, h3 {
    color: #00274C;
    font-family: 'Roboto', sans-serif;
    background-color: #FFCB05;
    font-weight: bold;
    margin: 0.5vh;
    margin-top: 1vh;
}

h2 {
    text-align: center;
    font-size: 1.4em;
}

h3 {
    text-align: left;
    font-size: 1.2em;
}

ul {
    list-style-type: disc;
    margin-left: 30px;
}

ol {
    list-style-type: decimal;
    margin-left: 30px;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #00274C;
    margin: 0px;
    padding: 5px
}

figcaption {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    font-size: small;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: left;
    line-height: 1.5;
    margin: 0.5vh;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: left;
    line-height: 1.5;
    margin: 0.5vh;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.img-container img {
    width: 100%;
    height: auto;
    margin-top: 1vw;
    padding: 0;
}